.plant {
    background-color: #131d12;
}
.dirt {
    background-color: #634629;
}
.mars {
    background-color: #442812;
}
.sea {
    background-color: #7C90A0;
}
.water {
    background-color: #364953;
}

.alpha {
    opacity: 80%;
}

.grow {
    /* text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; */
    transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

.grow:hover {
    transform: scale(1.1); /* Scale up the div to 110% of its original size */
    /* background-color: #365253; */
}

.small {
    width: 25%;
}

.big {
    font-size: large;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #007BFF;
}
.banner {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: monospace; /* Use monospace for the banner */
}
.usage {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-left: 5px solid #007BFF; /* Highlight the usage section */
}
.example {
    background-color: #d1ecf1; /* Light blue for examples */
    padding: 10px;
    border-radius: 5px;
}

.numinp {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}
#result {
    margin-top: 15px;
    font-weight: bold;
}

.img {
    
}